



.myzuber_content {
    position: relative;
    height: 100%;
    width: 100%;
}

.myzuber_foot ul{
    border-top: 1px grey solid;
}
.myzuber_foot li{
    height: 50px;
    float: left;
    width: 33.33%;
    text-align: center;
}
.myzuber_foot li a{
    display: block;
    margin-top: 5px;
}
.myzuber_foot li a.current{
  color: green;
}

.mui-table-view .mui-media-object.mui-pull-left{
    width: 80px;
    height: 80px;
    max-width: 100px;
}
/* 房屋详情展示 */
.houseDetails  {
   height: 120px;
   width: 100%;
   padding: 5px 5px;
}
.houseDetails li{
    
    width: 100%;
    height: 100%;
    border-bottom: 1px solid grey;
}
.houseDetails li a{
    display: block;
}
.houseDetails li .left{
    height: 100%;
    width: 40%;
  
}
.houseDetails li .left img{
    width: 100%;
    height: 100%;
}
.houseDetails li .right {
    margin-left: 10px;
}


.hiddenArea{
    z-index: 999;
    background-color:rgba(0,0,0, .5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;

}
.hiddenArea .wrap-content {
    background-color: #fff;
    height: 315px;
    padding: 10px;

}
.wrap-content span {
    border: 1px solid #ccc;
    color: #999;
    border-radius: 3px;
    line-height: 20px;
}
/* 性别筛选 */
.hiddenArea .sex {
    color: #666;
    font-size: 14px;
    margin: 10px 0;
}
/* 房源特色 */
.hiddenArea .feature {
    color: #666;
    font-size: 14px;
    margin: 10px 0;
}
.hiddenArea .houseType {
    color: #666;
    font-size: 14px;
    margin: 10px 0;  
}
/* 确认按钮样式 */
.type_btns {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #eee;
}
.type_btns div{
    float: left;
}
.type_btns .clear_btn{
    width: 35%;
    background-color: #f3f4f5;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    color: #999;
    margin-right:5%;
}
.type_btns .enter_btn {
    width: 60%;
    background-color: #66d4c3;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
}
.button-active {
  border: 1px solid #66d4c3;
  background-color: #f0fffd;
  color: #66d4c3;
  border-radius: 3px;
 
}


/* 隐藏区域2 */
.hiddenAreaa{
    z-index: 10;
    background-color:rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hiddenAreaa .wrap-content {
    background-color: #fff;
    padding: 10px;
    position: relative;
}
.hiddenAreaa .roomNumber {
    font-size: 12px;
    margin-top: 10px;
    width: 100%;
}
.hiddenAreaa .roomNumber .content{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.hiddenAreaa .roomNumber .content span{
    width: 22%;
    box-sizing: border-box;
    line-height: 20px;
}
.hiddenAreaa .roomShare {
    font-size: 12px;
    margin-top: 10px;                                 
}
.hiddenAreaa .roomShare .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.hiddenAreaa .roomShare .content span {
    width: 22%;
    line-height: 20px;
    box-sizing: border-box;
    margin-left: 6px;
}
.hiddenAreaa .roomShare .content span:nth-child(3){
    visibility: hidden;
}
.hiddenAreaa .roomShare .content span:nth-child(4){
    visibility: hidden;
}
.noLimit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border-top: 1px solid #eee;
    line-height: 22px;
    font-size: 14px;
    color: #66d4c3;
}