


.container{
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 0px;
    
}
.search-head {
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
}
.search-head a {
    display: block;
    width: 32px;
    height: 20px;
    line-height: 20px;
    font-size: 22px;
}
.search-head .allArea {
    color: #66d4c3;
}
.search-input{
    color: #fff;
    background-color: #D3D3D3;
    padding-left: 3px;
    height: 30px;
    margin: 0 10px;
    border-radius: 10px;
    vertical-align: middle;
}

.search-by-location {
    padding: 10px 8px;
    height: 120px;
}
.search-by-location ul{
    margin-top:8px;

}
.search-by-location ul li{
    width: 70px;
    border: 1px solid grey;
    float: left;
    font-size: 18px;
    margin-right: 3px;
    margin-bottom: 8px;
    text-align: center;
}

.search-by-line {
    padding: 10px 8px;
    margin-top: 30px;
    height: 120px;
}
.search-by-line .content {
    margin-top:10px;
}
/* .search-by-line ul{
    margin-top:8px;

}
.search-by-line ul li{
    width: 70px;
    border: 1px solid grey;
    float: left;
    font-size: 18px;
    margin-right: 3px;
    margin-bottom: 8px;
    text-align: center;
} */
.search-by-line .button-1{
    width: 70px;
    height: 30px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    color: #999;

}